# Рабочие данные
stats.json
donations.log
vip_config.json
vip_donaters.json
vip_persistent.json
vibration_queue.json

# Кэш Python
__pycache__/
*.pyc
# Игнорируем временные и локальные файлы
backup_*.tar.gz
data/
logs/
venv/
*.bak
*.log
vip_arina.json.*
